:root {
  --text-primary: #303030;
  --button-primary: #48BE45;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (max-width: 1110px) {
  html {
    font-size: 93.75%;
  }
}

@media (max-width: 800px) {
  html {
    font-size: 87.5%;
  }
}

@media (max-width: 600px) {
  html {
    font-size: 81.25%;
  }
}


body {
  background: rgb(255, 255, 255);
  height: 100vh;
  -webkit-font-smoothing: antialiased;
}

body, button {
  font: 400 1rem 'Montserrat', sans-serif;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}